{{>_header}}

{{message}}

<div class="loginForm">

    <label for="email">Email: </label>

    <input type="text" id="email"> 

    <label for="password">Password: </label>

    <input type="password" id="password">

    <button type="button" id="sendButton">Login</button>

</div>

<script src="../scripts/login.js" type="module"></script>

{{>_footer}}